/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Jua&display=swap');
:root {
	--color-1: #edf8fb;
	--color-2: #b3cde3;
	--color-3: #8c96c6;
	--color-4: #8856a7;
	--color-5: #810f7c;

	--jua: 'Jua', sans-serif;
	--Fredoka: 'Fredoka One', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	color: var(--color-text);
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(193, 64%, 96%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(207, 46%, 80%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	/* font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	font-family: var(--jua);
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
