.card__container {
	transition: scale ease-in-out 200ms;
	display: flex;
	flex-direction: column;
	border: solid black 4px;
	padding: 10px;
	height: 280px;
	width: 280px;
	cursor: pointer;
	word-wrap: break-word;
	margin: 5px;
}

.work {
	background-color: rgb(106, 186, 201);
}

#ShowUi {
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 15px;
	width: 240px;
	height: 70px;
	font-family: var(--Jua);
	background-color: var(--color-1);
	font-size: 1.5rem;
	border: 4px solid black;
	border-radius: 15px;
	box-shadow: 0px 5px black;
}

#ShowUi:hover {
	background-color: var(--color-2);
}
#ShowUi:active {
	scale: 98%;
}
.red {
	color: red;
}

.bold {
	font-weight: bold;
	color: white;
}
.container {
	margin: 20px;
	width: 60vw;

	margin-inline: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#TextBox {
	overflow: hidden;
	width: 800px;
	height: 150px;
	outline: none;
	margin: 0px 10px 10px 10px;
	display: block;
	border: 4px solid black;
	border-radius: 25px;
	font-family: var(--Jua);
	padding: 10px;
	resize: none;
	font-size: 1.5rem;
	box-shadow: 0px 5px black;
	-moz-box-shadow: 0px 5px black;
}

#TextBox:focus {
	cursor: text;
	color: #333333;
	background-color: white;
	border-color: #333333;
}
.textArea__container {
	margin-top: 10px;
}
.textArea--limit {
	width: 70px;
	height: 30px;
	margin-left: auto;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn {
	cursor: pointer;
	width: 90px;
	height: 40px;
	font-family: var(--Jua);
	background-color: var(--color-1);
	font-size: 1.2rem;
	border: 4px solid black;
	border-radius: 15px;
	margin-inline: 5px;
	box-shadow: 0px 2px black;
}
.btn.submit {
	background-color: rgb(120, 240, 120);
}
.btn.submit:hover {
	background-color: rgb(92, 180, 92);
}
.btn.submit:active {
	background-color: rgb(92, 180, 92);
	scale: 0.9;
}

.btn.cancel {
	background-color: rgb(240, 120, 105);
}
.btn.cancel:hover {
	background-color: rgb(187, 95, 83);
}
.btn.cancel:active {
	background-color: rgb(187, 95, 83);
	scale: 0.9;
}

.btn.clearAll {
	margin-top: auto;
	margin-bottom: 10px;
	width: 100px;
	margin-left: 860px;
	background-color: rgb(233, 150, 34);
}
.btn.clearAll:active {
	background-color: rgb(202, 130, 30);
	scale: 0.9;
}
.btn.clearAll:hover {
	background-color: rgb(202, 130, 30);
}

.card__btn--container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-inline: auto;
}

.card__btn--edit {
	height: 40px;
	width: 100px;
	background-color: #2e89ff;
	color: #ffff;
}
.card__btn--edit:hover {
	background-color: #2870ce;
	color: rgb(192, 191, 191);
}
.card__btn--edit:active {
	scale: 0.95;
	background-color: #2870ce;
	color: rgb(192, 191, 191);
}

.btn.card__btn {
	height: 40px;
	width: 100px;
	background-color: #ff2e2e;
	color: #ffff;
}
.choices__container {
	display: flex;
	justify-content: space-between;
	width: 700px;
	padding-inline: 20px;
	margin-bottom: 5px;
	margin-top: 15px;
	margin-inline: auto;
}
.btn.card__btn:hover {
	background-color: #b92b2b;
	color: rgb(192, 191, 191);
}
.btn.card__btn:active {
	scale: 0.95;
	background-color: #b92b2b;
	color: rgb(192, 191, 191);
}
h2 {
	display: inline;
}
select {
	margin-left: 10px;
	width: 120px;
	height: 35px;
	font-family: var(--Jua);
	font-size: 1.2em;
	background-color: var(--color-2);
	border-radius: 10px;
	border: 4px solid black;
	box-shadow: 0px 3px black;
}

option {
	font-family: var(--Jua);
	font-size: 1.2em;
	background-color: var(--color-2);
	border-radius: 10px;
	border: 4px solid black;
}
#important {
	width: 25px;
	height: 25px;
	margin-left: 10px;
}
.important__label {
	font-size: 1.2rem;
}
.important__container {
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* list container */
.list__container {
	display: flex;
	flex-direction: column;
	position: relative;
	border: 4px solid black;
	padding: 10px;
	margin-top: 10px;
	margin-inline: auto;
	width: 1000px;
	min-height: 406px;
	border-radius: 20px;
	background-color: var(--color-3);
	box-shadow: 0px 12px black;
}
/* list--item__container" */
.list--item__container {
	margin-inline: auto;
	width: 900px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row-reverse;
}

/* list--empty__icon */
.list--empty__container {
	position: absolute;
	top: 10%;
	left: 35%;
	user-select: none;
	width: 300px;
	height: 300px;
	font-size: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #f5efef71;
}
.list--empty__icon {
	font-size: 7rem;
}
.clear__container {
	width: auto;
	height: 70px;
}

/* tamodal */
.modal__container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3b3838ab;
}

.modal__container > .container {
	border: 4px solid black;
	border-radius: 25px;
	position: relative;
	background-color: var(--color-1);
	width: 900px;
	padding-block: 20px;
	box-shadow: 0px 10px black;
}

.edit__container {
	margin-bottom: 10px;
	background-color: var(--color-4);
	border: 4px solid black;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 0px 4px black;
}
.model__title {
	font-size: 1.2rem;
}
.overLine {
	text-decoration: line-through;
	text-decoration-thickness: 0.15rem;
	-moz-text-text-decoration: line-through;
	-moz-text-decoration-thickness: 0.15rem;
}

/* animate */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}
.list-enter-from {
	opacity: 0;
	transform: scale(0.6);
}
/* .list-enter-to {
    opacity: 1;
    transform: scale(1);
  } */
.list-enter-active {
	transition: all 0.4s ease;
}
/* .list-leave-from {
    opacity: 1;
    transform: scale(1);
  } */
.list-leave-to {
	opacity: 0;
	transform: scale(0.6);
}
.list-leave-active {
	transition: all 0.4s ease;
}
.list-leave-active {
	position: absolute;
}

/* mobile legends */

@media all and (max-width: 850px) {
	.container {
		width: 90vw;
	}
	.list__container {
		min-width: none;
		width: 338px;
		min-width: none;
		background-color: var(--color-2);
		min-height: 416px;
	}
	.list--empty__container {
		position: absolute;
		top: 15%;
		left: 20px;
		user-select: none;
		width: 300px;
		height: 300px;
		font-size: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: #f5efef71;
	}
	.list--item__container {
		margin-inline: auto;
		width: 300px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		margin-bottom: 10px;
	}
	#TextBox {
		overflow: hidden;
		width: 90vw;
		height: 150px;
		outline: none;
		margin: 0px 10px 10px 10px;
		display: block;
		border: 4px solid black;
		border-radius: 25px;
		font-family: var(--Jua);
		padding: 10px;
		resize: none;
		font-size: 1.5rem;
		box-shadow: 0px 5px black;
		-moz-box-shadow: 0px 5px black;
	}

	.textArea__container {
		margin-top: 10px;
		margin-inline: auto;
	}
	.showUi {
		width: 95vw;
	}

	.choices__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 90vw;
		height: 180px;
		padding-inline: 20px;
		margin-bottom: 5px;
		margin-top: 15px;
		margin-inline: auto;
	}
	.btn.clearAll {
		margin-top: auto;
		margin-bottom: 10px;
		width: 100px;
		margin-left: auto;
		background-color: rgb(233, 150, 34);
	}
}
